.Rating {
    margin-top: 42px;
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.Rating-item small {
    color: #5f6368;
    font-weight: 400;
}

.MuiBreadcrumbs-ol {
    justify-content: space-between !important;
}

.MuiBreadcrumbs-li {
    fill: #202124;
    stop-color: #202124;
    align-items: center;
    text-align: center;
    color: #202124;
    display: flex;
    font-family: Google Sans,Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 500;
    height: 24px;
    justify-content: center;
    letter-spacing: .0178571429em;
    line-height: 1.25rem;
}

.MuiBreadcrumbs-separator {
    height: 90%;
    width: 1px;
    background-color: #e8eaed;
    color: white;
}